.article, .articleone, .articletwo, .articlethree {
  position: absolute;
  background-color: white;
  width: 235px;
  top: 60%;
  height: 250px;
  margin-left: -150px;
  margin-top: -100px;
  border-color: black;
  border-style: solid;
  z-index: 999; }

.articleone {
  left: 20%; }

.articletwo {
  left: 50%; }

.articlethree {
  left: 80%; }

.articlethree .innerbox {
  position: relative;
  width: 215px;
  height: 110px;
  margin: auto;
  margin-top: 5%;
  background-color: darkgrey; }
