.articleone {
  position: absolute;
  width: 235px;
  top: 60%;
  left: 20%;
  height: 250px;
  margin-left: -150px;
  margin-top: -100px;
  border-color: black;
  border-style: solid; }

.articletwo {
  position: absolute;
  width: 235px;
  top: 60%;
  left: 50%;
  height: 250px;
  margin-left: -150px;
  margin-top: -100px;
  border-color: black;
  border-style: solid; }

.articlethree {
  position: absolute;
  width: 235px;
  top: 60%;
  left: 80%;
  height: 250px;
  margin-left: -150px;
  margin-top: -100px;
  border-color: black;
  border-style: solid; }
