#main-navbar {
  border-color: black;
  margin-top: -85px;
  width: 100%;
  font-size: 1.4em;
  position: fixed;
  text-decoration: none; }
  #main-navbar ul a {
    text-decoration: none;
    color: black; }
  #main-navbar ul li {
    display: inline;
    float: right;
    margin: 5px;
    padding: 15px;
    text-decoration: none;
    font-size: .5em; }

.article, .article-1, .article-2, .article-3 {
  position: absolute;
  background-color: white;
  width: 235px;
  top: 60%;
  height: 250px;
  margin-left: -150px;
  margin-top: -100px;
  border-color: black;
  border-style: solid;
  z-index: 999; }

.innerbox, .article-1 .articleinnerbox, .article-2 .articleinnerbox, .article-3 .articleinnerbox {
  position: relative;
  width: 215px;
  height: 110px;
  margin: auto;
  margin-top: 5%; }

.article-1 {
  left: 20%; }
  .article-1 h2 {
    margin-left: 15px;
    margin-top: 5px;
    font-weight: normal; }
  .article-1 h6 {
    margin-left: 15px;
    margin-top: -20px;
    font-weight: normal; }
  .article-1 p {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: normal;
    font-size: xx-small; }
  .article-1 .articleinnerbox {
    background-color: #e6e6e6; }

.article-2 {
  left: 50%; }
  .article-2 h2 {
    margin-left: 15px;
    margin-top: 5px;
    font-weight: normal; }
  .article-2 h6 {
    margin-left: 15px;
    margin-top: -20px;
    font-weight: normal; }
  .article-2 p {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: normal;
    font-size: xx-small; }
  .article-2 .articleinnerbox {
    background-color: #b3b3b3; }

.article-3 {
  left: 80%; }
  .article-3 h2 {
    margin-left: 15px;
    margin-top: 5px;
    font-weight: normal; }
  .article-3 h6 {
    margin-left: 15px;
    margin-top: -20px;
    font-weight: normal; }
  .article-3 p {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: normal;
    font-size: xx-small; }
  .article-3 .articleinnerbox {
    background-color: #737373; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; }

.logo {
  z-index: 1; }
  .logo h3 {
    margin-left: 15px;
    font-size: 1.4em; }

.message {
  width: 100%;
  height: 380px;
  position: relative;
  background-color: #e6e6e6;
  border-color: black;
  border-style: solid;
  z-index: 2; }
  .message p {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 10%;
    margin-top: 4%; }
  .message h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 2.3em;
    margin-left: 10%; }

.buttonstyle {
  background-color: black;
  /* Green */
  border: none;
  margin-left: 10%;
  margin-top: 10px;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; }
